@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora/Lora-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

* + * {
    margin-top: 0.9em;
}

html {
    font-family: "Open Sans";
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
    font-family: "Lora";
}

h5 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.6rem;
}

h3 {
    font-size: 2.1rem;
}

h2 {
    font-size: 2.8rem;
}

h1 {
    font-size: 3.7rem;
}

.column {
    text-align: left;
}

.column-left {
    width: 50%;
    float: left;
}

.column-right {
    width: 50%;
    float: right;
}

img.screenshot {
    width: 100%;
    -moz-box-shadow: 1.5px 1.5px 2.5px 3px #ccc;
    -webkit-box-shadow: 1.5px 1.5px 2.5px 3px #ccc;
    box-shadow: 1.5px 1.5px 2.5px 3px #ccc;
    border-radius: 5px;
}

.description {
    margin-top: 0;
}

.selling-points {
    padding-right: 10%;
}

@media only screen and (max-device-width: 720px) {
   .column {
        float: none;
        width: 100%;
    }
    .selling-points {
        padding-right: 0;
    }
    .call-to-action {
        margin: auto;
    }
}

.container {
    text-align: center;
    width: 80%;
    margin: auto;
}

.call-to-action {
    text-align: center;
    display: block;
    background-color: #456990;
    width: 250px;
    color: #EEE;
    font-size: 1.6rem;
    line-height: 2;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 0.9em;
    text-decoration: none;
}

.call-to-action:hover {
    background-color: #4e76a2;
}
